@use 'abstracts/variables';

body {
    font-family: variables.$font-family-primary;
    background: map-get(variables.$baseColors, "primary");
    min-height: 100vh;
    padding-bottom: 0;
}

.main {
    padding: map-get(variables.$padding, "bodyPadding");
}