*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  min-height: 100vh;
  padding-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  padding: 0;
  margin: 0;
  padding: 4rem;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  color: #565D6D;
  height: 100%;
}
.header__expanded {
  padding-bottom: 15rem;
}
.header__hamburger {
  display: none;
  position: relative;
  height: 100%;
  z-index: 10;
}
.header__hamburger .fa-bars,
.header__hamburger .fa-xmark {
  font-size: 3rem;
  color: #565D6D;
  cursor: pointer;
}
.header__mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #F8F9FA;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 9;
}
.header__mobile-menu.active {
  left: 0;
}
.header__home:hover {
  cursor: pointer;
}
.header__logo {
  width: 17rem;
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 4rem;
}
.header__list-mobile {
  flex-direction: column;
  gap: 3rem;
  width: 25rem;
  height: 38rem;
}
.header__link {
  text-decoration: none;
  color: #565D6D;
  font-weight: 600;
}
.header__link:hover {
  cursor: pointer;
  color: #565D6D;
  text-decoration: underline;
}
.header__link--highlight {
  color: #ffffff;
  background-color: #EC000D;
  padding: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2rem;
  transition: background-color 0.25s;
}
.header__link--highlight:hover {
  color: #ffffff;
  background-color: #d3000c;
  text-decoration: none;
}
.header__link-mobile {
  color: #565D6D;
}
.header__item--has-dropdown .header__dropdown {
  display: none;
  position: absolute;
}
.header__item--has-dropdown:hover .header__dropdowntoggle,
.header .header__dropdowntoggle:focus,
.header .header__dropdown-item:focus .header__dropdowntoggle {
  color: #EC000D;
  text-decoration: underline;
}
.header__dropdown.show {
  display: flex;
}
.header__dropdowntoggle {
  background: none;
  border: none;
  font-size: 2rem;
  transition: color 0.2s;
}
.header__dropdowntoggle:hover {
  color: #EC000D;
}
.header__dropdown {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
.header__dropdown-item {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__dropdown-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header__dropdown-mobile {
  background: none;
  border: none;
  font-size: 2rem;
  transition: color 0.2s;
}
.header__dropdown-mobile:hover {
  color: #EC000D;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.carousel__button {
  border: 0.15rem solid #EC000D;
  border-radius: 100%;
  cursor: pointer;
  z-index: 5;
  font-size: 2rem;
  color: #EC000D;
  background-color: #ffffff;
  width: 4rem;
  height: 4rem;
  transition: background-color 0.2s;
}
.carousel__button--left {
  position: absolute;
  left: 2rem;
}
.carousel__button--right {
  position: absolute;
  right: 2rem;
}
.carousel__button:hover {
  background-color: #e6e6e6;
}
.carousel__viewport {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 55vh;
}
.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #ffffff;
  background-color: #EC000D;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}

.info {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info__title {
  font-weight: 400;
  font-size: 3.5rem;
}
.info__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}
.info__bold {
  font-weight: 600;
}

.icons {
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.icons__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 1rem;
}
.icons__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #ffffff;
  background-color: #EC000D;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.icons__text {
  width: 90%;
}

.banner {
  position: relative;
  overflow: hidden;
}
.banner__image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
  filter: brightness(50%);
}
.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  padding-right: 6rem;
  gap: 1rem;
  padding-bottom: 2rem;
}
.contact__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.contact__description {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.contact__button {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  background-color: #EC000D;
  width: max-content;
  padding: 1rem;
  transition: background-color 0.25s;
  text-decoration: none;
}
.contact__button:hover {
  color: #ffffff;
  background-color: #d3000c;
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 2rem;
}
.projects__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
.projects__project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
.projects__image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.projects__link {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  background-color: #EC000D;
  width: max-content;
  padding: 1rem;
  transition: background-color 0.25s;
  text-decoration: none;
}
.projects__link:hover {
  color: #ffffff;
  background-color: #d3000c;
  text-decoration: none;
}

.projectbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.projectbanner__image {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}
.projectbanner__title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #ffffff;
  background-color: #EC000D;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
}

.projectdescription {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.projectdescription__title {
  font-weight: 400;
  font-size: 3.5rem;
}
.projectdescription__text {
  font-size: 2.5rem;
}

.acknowledgement {
  padding-left: 4rem;
  padding-right: 4rem;
}
.acknowledgement__credit {
  font-size: 2.5rem;
}
.acknowledgement__link {
  color: #EC000D;
  text-decoration: none;
}
.acknowledgement__link:hover {
  text-decoration: underline;
}

.images {
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
}
.images__image {
  width: 90vh;
  object-fit: cover;
}

.workbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.workbanner__image {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}
.workbanner__title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #ffffff;
  background-color: #EC000D;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.worktext {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.worktext__text {
  font-family: "Poppins", sans-serif;
}

.workimage {
  padding-left: 3rem;
  padding-right: 3rem;
}
.workimage__image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.workcontact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}
.workcontact__link {
  color: #EC000D;
  text-decoration: none;
}
.workcontact__link:hover {
  text-decoration: underline;
}

.footer {
  background-color: #757576;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__items {
  display: flex;
  justify-content: space-evenly;
}
.footer__item {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.footer__description {
  font-family: "Poppins", sans-serif;
}
.footer__link {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  width: max-content;
}
.footer__link:hover .footer__linktext {
  text-decoration: underline;
}
.footer__copyright {
  padding-left: 4rem;
}
.footer__copyrightlink {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.footer__copyrightlink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .footer {
    align-items: center;
    gap: 3rem;
  }
  .footer__item {
    width: 40%;
  }
  .footer__items {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
  .footer__copyright {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1000px) {
  .banner__text {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .icons {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .images__image {
    width: 100%;
  }
  .footer__item {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .header__section--right {
    display: none;
  }
  .header__hamburger {
    display: flex;
  }
  .info {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .icons__wrapper {
    width: 100%;
  }
  .icons__text {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  .info {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .icons__text {
    width: 80%;
  }
  .banner__image {
    height: 60vh;
  }
  .footer__item {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .banner__image {
    height: 85vh;
  }
  .banner__text {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .footer__item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
