@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.images {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;

    &__image {
        width: 90vh;
        object-fit: cover;
    }
}