@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.acknowledgement {
    padding-left: 4rem;
    padding-right: 4rem;

    &__credit {
        font-size: 2.5rem;
    }

    &__link {
        color: map-get(variables.$baseColors, "accent");
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}