@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.worktext {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &__text {
        font-family: variables.$font-family-primary;
    }
}