@use 'variables';
@use 'mixins';

@media screen and (max-width: 1080px) {
    .footer {
        align-items: center;
        gap: 3rem;

        &__item {
            width: 40%;
        }

        &__items {
            flex-direction: column;
            gap: 4rem;
            align-items: center;
        }

        &__copyright {
            padding-left: 0rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .banner {
        &__text {
            width: 80%;
        }
    }
}

@media screen and (max-width: 900px) {
    .icons {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer {
        &__item {
            width: 60%;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        &__section {
            &--right {
                display: none;
            }
        }

        &__hamburger {
            display: flex;
        }
    }

    .info {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .icons {
        &__wrapper {
            width: 100%;
        }

        &__text {
            width: 60%;
        }
    }
}

@media screen and (max-width: 650px) {
    .info {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .icons {
        &__text {
            width: 80%;
        }
    }

    .banner {
        &__image {
            height: 60vh;
        }
    }

    .footer {
        &__item {
            width: 80%;
        }
    }
}

@media screen and (max-width: 450px) {
    .banner {
        &__image {
            height: 85vh;
        }

        &__text {
            width: 100%;
        }
    }
}

@media screen and (max-width: 350px) {
    .footer {
        &__item {
            width: 100%;
        }
    }
}