$baseColors: (
    "primary": #ffffff,
    "secondary": #000000,
    "accent": #EC000D,
);

$headerColors: (
    "backgroundColor": #F8F9FA,
    "textColor": #565D6D,
    "headerDropdownColor": #000000,
);

$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

$padding: (
    "bodyPadding": 4rem,
);